<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
</head>
<body>
    <form class="box" action="index.html" method="post">
        {% csrf_token %}
        <h1>Details</h1>
        <input type="text" name="name you want to order">
        <textarea name="" id="" cols="30" rows="10" placeholder="Note of your order"></textarea>
        <input type="text" name="" placeholder="Address">
        <input type="text" name="" placeholder="Firstname">
        <input type="text" name="" placeholder="Lastname">
        <textarea name="" id="" cols="30" rows="10" placeholder="Detail Address Direction"></textarea>
        <input type="text" name="" placeholder="Number">
        <input type="text" name="" placeholder="Alt Phone number">
        <input type="Submit" name="" value="Add">
    </form>
</body>
</html>